#conteneur{
	display:flex;
}
body{
	display:flex;
	margin: 0px;
}
figure, img{
	text-align: center;
	width: 80%;
	border-radius: 150%;
}
h1{
	font-size:3em;
	padding-left: 1em;
}
h2{
	font-size: 2em;
}
.block-gauche h2{
	text-align: center;
	font-size: 1.7em;
	background:rgb(64, 64, 64);
	color:orange;
}
.text-orange{
	color: orange;
}
.text-size{
	font-size: 0.7em;
}
.line{
	display: block;
	width: 8%;
	border-bottom: 2px solid orange;
}
.block-droit h2{
	border-bottom: 2px solid orange;
}
.block-gauche{
	background-color:rgb(255, 182, 0);
	width: 30%;
	flex-direction: column;
	position: relative;
}
.formation .block .fas{
	color: orange;
}
.experience .block .fas{
	color: orange;
}
.block-droit{
	margin-top: 0px;
	width: 100%;
	background: white;
	padding: 2em;
}
.formation{
	display: flex;
	flex-direction: column;
}
.experience{
	display: flex;
	flex-direction: column;
}
.block{
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	align-items: center;
	padding-left: 4em;
}
.sous-diplomes{
	display:flex;
	flex-direction: row;
	justify-content: space-around;
	margin: 1em;
	margin-block-start: 0em;
	margin-block-end: 0em;
}
.dip1{
	text-align: center;
}
.block-droit .fas{
	color: orange;
}
.sousblock{
	display: flex;
	flex-direction: column;
	text-align: left;
	justify-content: space-between;
	width: 60%;
}
.loisirs{
	display:flex;
	justify-content: space-around;
	font-size: 4em;
}
.bottom-gauche{
	position: absolute;
	bottom: 0;
	width: 100%;
}
.point-et-date{
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	align-items: center;
	width: auto;
	max-width: none;
}
.fa-dot-circle{
	padding-right: 2em;
}
.fa-circle{
	padding-right: 2em;
}


@media screen and (max-width: 600px)
{
	#conteneur{
		display:flex;
		flex-direction: column;
	}
	h1{
		padding-left: 1em;
	}
	.block-gauche{
		width: 118%;
	}
	.block-droit{
		background-color: white;
	}
	.block{
		flex-direction: column;
		padding-left: 1em;
	}
	.point-et-date{
		justify-content: space-around;
		width: 10%;
	}
	.sous-diplomes{
		flex-direction: column;
	}
	.bottom-gauche{
		position: initial;
	}
	.loisirs{
		font-size: 3em;
	}
}